@model LoginModel

@{ 

}

<div>
    <form method="post" asp-controller="Auth" asp-action="Login"> 
        <div>
            <label>User Name</label>
            <input  asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div>
            <label>Password</label>
            <input  asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input type="submit" value="Login" />
    </form>
</div>