@model CommentViewModel

@{ 

}

<div class="container">
    <form asp-controller="Home" asp-action="Comment" method="post">
        <div>
            <input asp-for="UserId" type="hidden" />
        </div>
        <div>
            <input asp-for="postId" type="hidden" />
        </div>
        <div>
            <input asp-for="mainCommentId" type="hidden" />
        </div>
        <div>
            <input asp-for="commentMsg" />
        </div>

        <input type="submit" value="Submit" />

    </form>
</div>