@{ 

}

<div class="bg-dark">
    <div class="row text-white">
        <div class="col-4 d-flex flex-column text-center mt-5">
            <a>Hello</a>
            <a>Hello</a>
            <a>Hello</a>
            <a>Hello</a>
        </div>
        <div class="col-4 d-flex flex-column text-center mt-5">
            <a>Hello</a>
            <a>Hello</a>
            <a>Hello</a>
            <a>Hello</a>
        </div>
        <div class="col-4 d-flex flex-column text-center mt-5">
            <a>Hello</a>
            <a>Hello</a>
            <a>Hello</a>
            <a>Hello</a>
        </div>
    </div>
</div>