@model List<BlogModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page">
    <h4>BLOG</h4>
    <img class="home-img" src="~/images/home.jpg" asp-append-version="true" />
</div>

<div class="blog-container">
    <div class="row mt-3">
        <div class="col-lg-8 col-md-10 col-sm-12">
            @{
                foreach (var item in Model)
                {
                    int i = 0;
                    if (i <= 6)
                    {
                        <div onclick="getBlog(@item.Id)" class="card" style="width: 25rem;">
                            <img class="card-img-top" src="~/images/home.jpg" />
                            <div class="card-body">
                                <h5 class="card-title">@item.blogTitlt</h5>
                                <p class="card-text">
                                    @item.blogBody
                                </p>
                            </div>
                        </div>
                    }
                    i++;
                }
            }

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-title">
                About
            </div>
            <div class="d-flex justify-content-center aligen-item-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/home.jpg" />
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet eaque laborum voluptatum sunt
                        omnis.
                    </div>
                </div>
            </div>

            <div class="about-title">
                Categores
            </div>
            <div class="cate-container">
                <div>
                    <span>Music</span>
                    <span>Neture</span>
                    <span>Sports</span>
                </div>
                <div>
                    <span>Tech</span>
                    <span>cinema</span>
                    <span>Life</span>
                </div>
            </div>
            <div class="about-title">
                Follow
            </div>
            <div class="social-icon">
                <div class="facebook">
                    <i class="fa-brands fa-facebook-square"></i>
                </div>
                <div class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</div>
