@model List<postModel>

@{

}
<div>Home</div>

<div>
    <ul>
        @foreach (var post in Model)
        {
        <li>
            <a asp-controller="Home" asp-action="post" asp-route-id="@post.Id">@post.Title</a>
        </li>
        }
    </ul>
</div>