@model dashboard
@{
    ViewData["Title"] = "dashboard";
}




<div class="container " >
    <h1  class="text-center">dashboard</h1>
    <div class="row text-center">
        <div class="col-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="card-title">
                        @ViewBag.Count
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="card-title">
                        @ViewBag.Count
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="card-title">
                        @ViewBag.Count
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-danger">
                <div class="card-body">
                    <div class="card-title">
                        @ViewBag.Count
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>