@model List<postModel>


<div class="container">

    @{
        var a = 0;
    }
    <div>Home</div>
    <div class="text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Title</th>
                    <th class="text-info">Edit</th>
                    <th class="text-danger">Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var post in Model)
                {
                    a = a + 1;
                    <tr>
                        <td>@a</td>
                        <td> @post.Title</td>
                        <td> <a asp-controller="Panel" asp-action="Edit" asp-route-id="@post.Id">Edit</a></td>
                        <td><a asp-controller="Panel" asp-action="Remove" asp-route-id="@post.Id">Remove</a></td>
                    </tr>

                }



            </tbody>
        </table>
    </div>
</div>

