/*Home*/
.home-page {
  width: 100%;
  height: 80vh;
  position: relative;
}

.home-page h4 {
  position: absolute;
  top: 25%;
  color: #d5cabd;
  z-index: 1;
  text-align: center;
  width: 100%;
  font-size: 110px;
  font-family: Calibri;
}
.home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-container {
  margin: 0 30px 0 30px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-8 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.col-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefedf;
}

.card {
  margin: 0 5px 10px 5px;
}

.about-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 80%;
  border-top: 2px solid rgb(70, 66, 66);
  border-bottom: 2px solid rgb(73, 72, 72);
}

.cate-container div span {
  margin: 5px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.cate-container {
  margin-bottom: 30px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon .facebook {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b5998;
}

.social-icon .instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bc2a8d;
  height: 40px;
  width: 40px;
}

.social-icon .twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #00aced;
}

.fa-brands {
  color: white;
}

/*Blog page*/

.blog-img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  object-fit: cover;
  height: 50vh;
  border-radius: 5px;
}

.blog-title-container {
  margin-top: 7px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desc-text {
  font-size: 21px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

.blog-edit-delete-btn-container button {
  border: none;
  background-color: transparent;
}

.blog-edit-delete-btn-container .edit {
  color: #00aced;
}

.blog-edit-delete-btn-container .remove {
  color: red;
}

/*Add Blog*/

.add-blo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-blog-img-container {
  width: 400px;
  height: 40vh;
}

.add-input-custom {
  width: 100%;
}

.add-input-custom div input {
  margin-top: 7px;
}

.add-input-custom div textarea {
  margin-top: 7px;
  min-height: 40vh;
}

.add-input-custom div textarea:focus {
  outline: none;
}

.add-input-custom div input:focus {
  outline: none;
}
.add-textarea {
  width: 100%;
}
.add-textarea textarea {
  width: 100%;
}

/*Login*/

.login-container {
  background-image: url(../images/reg.jpg);
  margin: 0px;
  padding: 0px;
  height: 90vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.login-form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div {
  width: 100%;
  background: transparent;
}

form div input {
  margin-top: 5px;
  width: 100%;
  background: transparent;
}
