@model BlogModel

<div class="blog-container">
    <div class="row mt-3">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="add-blog-img-container">
                <img id="img-viewer" class="add-blo-img" />
            </div>
            <form class="add-input-custom" method="post" asp-controller="Blog" asp-action="AddBlog">
                <div class="">
                    <input id="imgFile" accept="image/*" onchange="preview(event)" type="file" />
                </div>

                <div class="form-group">
                    <input class="form-control" asp-for="blogTitlt" placeholder="Add a title" />
                </div>

                <div class=" form-group add-textarea">
                    <textarea class="form-control" asp-for="blogBody" placeholder="Write your story..."></textarea>
                </div>

                <div class="form-group">
                    <input class="btn btn-success form-control" type="submit" />
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-title">
                About
            </div>
            <div class="d-flex justify-content-center aligen-item-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/home.jpg" alt="photo">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet eaque laborum voluptatum sunt
                        omnis.
                    </div>
                </div>
            </div>

            <div class="about-title">
                Categores
            </div>
            <div class="cate-container">
                <div>
                    <span>Music</span>
                    <span>Neture</span>
                    <span>Sports</span>
                </div>
                <div>
                    <span>Tech</span>
                    <span>cinema</span>
                    <span>Life</span>
                </div>
            </div>
            <div class="about-title">
                Follow
            </div>
            <div class="social-icon">
                <div class="facebook">
                    <i class="fa-brands fa-facebook-square"></i>
                </div>
                <div class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    function preview(event){
        if(event.target.files.length> 0){
            var src = URL.createObjectURL(event.target.files[0]);
            var previewObj = document.getElementById("img-viewer");
            previewObj.src = src;
         }
        }
</script>
}