@model List<BlogModel>

<div class="blog-container">
    @* <div class="row mt-3">
        <div class="col-12">
            <select class="">
                <option value="">Categores</option>
                <option value="">Music </option>
                <option value="">Life</option>
                <option value="">Tech</option>
                <option value="">Book</option>
                <option value="">Neture</option>
                <option value="">Cinema</option>
            </select>
        </div>
    </div> *@
    <div class="row mt-3">
        <div class="col-lg-8 col-md-10 col-sm-12">
            @{

                int i = 0;
                foreach (var item in Model)
                {
                    if (item.imageName == "")
                    {
                        item.imageName = "default.jpg";
                    }
                    if (i <= 6)
                    {
                        <div onclick="getBlog(@item.Id)" class="card" style="width: 24rem;">
                            <img class="card-img-top" src="~/images/@item.imageName" style="height:250px" alt="photo">
                            <h5 class="card-title">@item.blogTitlt</h5>
                            <div class="card-body">
                            @item.blogBody.Substring(0,150)
                            </div>
                        </div>
                    }
                    i++;
                    
                }
            }
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="about-title">
                About
            </div>
            <div class="d-flex justify-content-center aligen-item-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/images/home.jpg" alt="photo">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet eaque laborum voluptatum sunt
                        omnis.
                    </div>
                </div>
            </div>

            <div class="about-title">
                Categores
            </div>
            <div class="cate-container">
                <div>
                    <span>Music</span>
                    <span>Neture</span>
                    <span>Sports</span>
                </div>
                <div>
                    <span>Tech</span>
                    <span>cinema</span>
                    <span>Life</span>
                </div>
            </div>
            <div class="about-title">
                Follow
            </div>
            <div class="social-icon">
                <div class="facebook">
                    <i class="fa-brands fa-facebook-square"></i>
                </div>
                <div class="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
</div>